*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#brandtext{
  font-weight: 600;
  font-size: 21pt;
  color: orange;
}

section
{
  padding-bottom: 2rem;
  min-height: 100vh;
  background-color: #282c34;
}

.cardBody {
  min-height: 360px;
}

.btn-warning {
  background-color: orange !important;
  width: 100%;
}

.btn-success {
  width: 100%;
}
.btn-warning:hover {
  background-color: rgb(245, 177, 49) !important;
}
.btn-danger{
  width: 100%;
}
.btn-primary{
  width: 100%;
}
.btn-info{
  width: 100%;
}


.loginBtn{
  min-width: 100%;
}
.formContainer{
  background-color: white;
}
.header {
  color:white;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
